<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/navbar.ejs %>

    <div class="container" style="color: white">

        <%= pageTitle %>
        <%= author %>
        <%= publish_date %>
        <%= category %>
        <%= article_body %>
   
        <form action="" method="POST" id="commentSubmit">
            <div class="form-group">
                <label for="feedback-form-name">Username</label>
                <input type="text" class="form-control" id="comment_username" name="username" placeholder="Enter your username">
            </div>
    
            <div class="form-group">
                <label for="feedback-form-message">Body</label>
                <textarea type="text" placeholder="Enter your message and click submit" class="form-control" id="comment_body"
                    name="body" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>

        <div class="row m-0 p-0" id="commentsContainer" style="border: solid orange; display: block">
            <% if (comments.length > 0) { %>
            <% for (var i = 0; i < comments.length; i ++) { %>
            <div class="row m-0 p-0" style="border: solid red;">
                <%= comments[i].username %>
                <br>
                <%= comments[i].comment_body %>
            </div>
            <% } %>
            <% } %>
        </div>

    </div>


    </div>
    <!-- End of Navbar/Sidebar Wrapper -->

    <div class="overlay"></div>
    <% include partials/jsdefaults.ejs %>
    <script type="module" src="/scripts/comments.js"></script>

</body>

</html>